
# Created by https://www.gitignore.io/api/windows,git,netbeans,java

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


### Git ###
*.orig


### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


### Java ###
*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/*/nbproject/private
/chapter02/ex01/nbproject/private/
/chapter04/sample03-1/nbproject/private/
/chapter04/sample03-2/nbproject/private/
/chapter04/sample03-3/nbproject/private/
/chapter04/exercise_chap04/nbproject/private/
/chapter05/sample04-01/nbproject/private/
/chapter05/sample05-1/nbproject/private/
/chapter05/sample04-1/nbproject/private/
/chapter05/sample05-02/nbproject/private/
/chapter05/sample05-01/nbproject/private/
/chapter05/sample05-03/nbproject/private/
/chapter05/sample05-04/nbproject/private/
/chapter05/sample06-02/nbproject/private/
/chapter05/sample06-03/nbproject/private/
/chapter05/exercise_chap05/nbproject/private/
/chapter06/sample07-01/nbproject/private/
/chapter06/sample07-02/nbproject/private/
/chapter06/sample07-03/nbproject/private/
/chapter06/sample07-04/nbproject/private/
/chapter06/sample08-01/nbproject/private/
/chapter06/sample08-02/nbproject/private/
/chapter06/sample08-03/nbproject/private/
/chapter06/sample08-04/nbproject/private/
/chapter06/sample08-05/nbproject/private/
/chapter06/sample08-06/nbproject/private/
/chapter06/sample08-07/nbproject/private/
/chapter06/sample08-08/nbproject/private/
/chapter06/sample08-09/nbproject/private/
/chapter06/exercise_chap06/nbproject/private/
/chapter07/sample09-01/nbproject/private/
/chapter07/sample09-02/nbproject/private/
/chapter07/sample09-03/nbproject/private/
/chapter07/sample09-04/nbproject/private/
/chapter07/sample09-05/nbproject/private/
/chapter07/sample10-01/nbproject/private/
/chapter07/sample10-02/nbproject/private/
/chapter07/exercise_chap07/nbproject/private/
/chapter08/sample11-01/nbproject/private/
/chapter08/sample11-02/nbproject/private/
/chapter08/sample11-03/nbproject/private/
/chapter08/sample11-04/nbproject/private/
/chapter08/sample12-01/nbproject/private/
/chapter08/sample11-04_1/nbproject/private/
/chapter08/sample13-01/nbproject/private/
/chapter08/sample13-02/nbproject/private/
/chapter08/sample13-03/nbproject/private/
/chapter08/exercise_chap08-1/nbproject/private/
/chapter08/exercise_chap08-2/nbproject/private/
/chapter09/sample14-01/nbproject/private/
/chapter09/sample14-02/nbproject/private/
/chapter09/sample14-03/nbproject/private/
/chapter09/sample14-04/nbproject/private/
/chapter09/exercise_chap09/nbproject/private/
/chapter10/sample15-01/nbproject/private/
/chapter10/sample15-02/nbproject/private/
/chapter11/sample16-01/nbproject/private/
/chapter11/exercise_chap11/nbproject/private/
/chapter12/sample17-01/nbproject/private/
/chapter12/sample17-02/nbproject/private/
/chapter12/sample17-03/nbproject/private/
/chapter12/sample17-04/nbproject/private/
/chapter12/sample17-05/nbproject/private/