body {
    font-family: メイリオ ,Osaka;
    font-size: 12pt;
    margin: 10px 10px 10px 20px;	/* 上、右、下、左の順でマージンを指定 */
    line-height: 1.4em;
}
h1 {
    font-size: 1.2em;
}
.error{
    font-size: 0.7em;
}
.note{
    font-size: 0.7em;
    color: blue;
}

