body {
    font-size: 12pt;
    font-family: メイリオ,osaka;
}
#main{
    width: 800px;
    margin: auto;
}
#headder{
    text-align: center;
    margin: 30px;
}
h1 { font-size: 1.8em; }
#sidebar {
    width: 250px;
    float: left;
}
#contents {
    width: 550px;
    float: right;
}
img {bottom: 10px;}
#footer {
    clear:both;
    margin-top: 340px;
}
address{
    font-size: 0.6em;
    font-style: normal;
    text-align: center;
}
