body {
    font-size: 12pt;
    font-family: メイリオ, Osaka;
    margin:30px;
    line-height: 1.5em;
}
h1  { font-size: 1.5em; }
pre {margin: 0px;}
.c1 {
    width:120px; 
    background-color: #dddddd; 
    padding:3px;
    vertical-align: top;
}
.c2 {
    width:220px;
    padding:3px;
}
.col { vertical-align: top;}