	body {
	    font-family: メイリオ ,Osaka;	/* 全体のフォント */
	    font-size: 12pt;			/* 全体の文字サイズ */
	    margin: 20px 10px 10px 20px;	/* 上右下左の順でマージンを指定 */
		line-height: 1.6em;
	}
	.error{
		font-size: 0.7em;	/* エラーメッセージ用 */		
	}

	
